<html>
<head> href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"></head>
 <body>
      <div class="form-container">
        <div class="container">
          <h1>TODO List</h1>
          <p>A place to put your todos</p>
          </div>
          
          <form id="filter-todos">

            <div class="filter">

       <div><input type="text" placeholder="Filter your todos"> </div>
          </div>
  
          <ol>
            <li><button> <span class="complete-button"></span>Complete</button> fold clothes </li>
            <li><button> <span class="complete-button"></span>Complete</button>  put clothes in drawer</li>
            <li><button> <span class="complete-button"></span>Complete</button> relax</li>
            <li><del>try to pet cat</del></li>
            <li><button> <span class="complete-button"></span>Complete</button> pet dog</li>
            <li> <button> <span class="complete-button"></span>Complete</button> be awesome</li>
          </ol> 
    
          <div class="add-todo">
              <input type="text" placeholder="Add your to-do"></div>
            
           <div id="button-container">
      <button> <span class="add-button"> ADD</span></button>
      </div>
          
          </form>
          </div>
      
      </body>
      </html>